jax==0.4.30
jaxlib==0.4.30
equinox==0.11.9
optax==0.2.4
chex==0.1.88
numpy>=1.24,<2
jaxtyping>=0.2.25
transformers>=4.41
huggingface_hub>=0.23
safetensors>=0.4
torch>=2.0
jmp @ git+https://github.com/deepmind/jmp@main
wandb
pyrallis
pyarrow
zstandard
datasets>=2.14
braceexpand
fsspec>=2023.1
tensorstore>=0.1.45
pytimeparse
humanfriendly
gitpython
tqdm
